@inherits LayoutComponentBase

<div class="container" style="background-image: url('/img/lilac.jpg');height: 100%;">
        <div class="content px-4">
            @Body
        </div>
    </div>

@code {

}
