@inherits LayoutComponentBase

<div style="background-image: url('/img/lilac.jpg');height: 100%;background-repeat: no-repeat;
background-size: cover;
background-position: center;">
        <div class="content px-4">
            @Body
        </div>
    </div>

@code {

}
