@inherits LayoutComponentBase

<div class="container py-3" style="background-image: url('/img/lilac.jpg');">
        <div class="content px-4">
            @Body
        </div>
    </div>

@code {

}
