@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject WebEndpoints.ToDo.UI.Services.CustomStateProvider AuthState
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {


     protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        try
        {
            var user = (await AuthState.GetAuthenticationStateAsync())?.User;
            if (user == null)
            {
                Console.WriteLine("My debug output.");
            }
            if (!user.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo($"/login");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"{ex.Message},{ex.InnerException}");
        }
       
    }
}