@using Blazored.LocalStorage;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject WebEndpoints.ToDo.UI.Services.CustomStateProvider AuthState
@inject ILocalStorageService _localStorageService;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    string userdata;

    private async Task<string> GetJWT()
    {
        userdata = await _localStorageService.GetItemAsStringAsync("jwt-access-token");
        if (!string.IsNullOrWhiteSpace(userdata))
        {
            return userdata;
        }
        return null;
    }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        try
        {
            var result = await GetJWT();
            if (result == null) NavigationManager.NavigateTo($"/login");
            else NavigationManager.NavigateTo($"/");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"{ex.Message},{ex.InnerException}");
        }
       
    }
}